* {
    font-family: 'Courier New', Courier, monospace;
}

#resume {
    color: teal;
}

#resume:hover {
    color: white;
}

.nav-link {
    font-family: 'Courier New', Courier, monospace
}

body {
    padding-top: 120px;
}

#hello-world{
    font-weight: bold;
    margin-bottom: 1em;
}

#i-code {
    color: gray;
}

.intro-statement, .intro-paragraph{
    padding-bottom: 5rem;
    margin-bottom: 2em;
}

.intro-statement{
    padding-bottom: 3rem;
}

.development{
    color: #71a0ff;
    font-weight: bold;
}

body{
    background-color: floralwhite !important;
}

.button, .btn {
    background-color: #a4c2ff!important;
    border: none;
    padding: 15px 28px;
    text-align: center;
    margin: 4px 2px;
    cursor: pointer;
    font-size: 16px;
    color: black;
    border-radius: 10px;
}

.button:hover {
    background-color: #71a0ff;
}


.about{
    padding-top: 10rem;
}

.section-head{
    padding-bottom: 1rem;
}

.about-me, #my-projects{
    padding-bottom: 5px;
}

.uva{
    font-weight: bold;
    font-style: italic;
    color: #73a1ff;
}

#mypic {
    width: 150%;
    border-radius: 8px;
    box-shadow: 10px 10px 5px gray ;
}

#technologies {
    padding-left: 2rem;
    color: #71a0ff;
    font-weight: bold;
}

.project-title{
    font-weight: bold;
    color:black;
}

.card-text{
    color: black;
}

.projects {
    padding-top: 10rem;
}

.github {
    font-weight: bold;
    font-style: italic;
}

#project-descriptor {
    padding-bottom: 3rem;
}

.card{
    background-color: #73a1ff !important;
}

.contact{
    padding-top: 10rem;
}

#job-title{
    padding-right: 6rem;
    font-size: 1.25rem;
    font-weight: bold;
    color: #73a1ff;
}

#job-location{
    padding-top: 10px;
    padding-bottom: 10px;
}

#footer-link{
    color:#73a1ff;
}

footer {
    padding-top: 10rem;
    text-align: center;
    font-size: small;
}

#email-me-btn {
    padding-top: 8rem;
}

.experience{
    padding-top: 10rem;
}

#email {
    font-size: x-large;
}

.yellow-warning{
    color: #f9b100;
    font-weight: bold;
}

.carousel-control-next-icon, .carousel-control-prev-icon{
    filter: invert();
}

.space-button{
    padding-top: 1.6rem;
}

#navbar {
    transition: top 0.5s;
}

.sideways-left {
    bottom: 0px;
    z-index: -1;
    position: fixed;
    transform: rotate(90deg);
}
